<section class="py-5">
	<div class="container px-5 mb-5">
		<div class="text-center mb-5">
			<h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Продукты</span></h1>
		</div>
		<div class="row gx-5 justify-content-center">
			<div class="col-lg-11 col-xl-9 col-xxl-8">
        <%= form_with url: "/products", method: :get do |f| %>
					<div class="input-group mb-3">
						<%= f.text_field :search, class: "form-control", placeholder: "Поиск", "aria-describedby": "basic-addon2" %>
						<div class="input-group-append">
							<%= f.submit 'Найти', class: "btn btn-outline-primary" %>
						</div>
					</div>
				<% end %>

        </br></br>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Наименование</th>
              <th scope="col">Изображение</th>
              <th scope="col">Кол-во калорий</th>
              <th scope="col">Белки</th>
              <th scope="col">Жиры</th>
              <th scope="col">Углеводы</th>
              <th scope="col">Статус</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name, product %></td>
                <td><%= image_tag url_for(product.image.url), width: 100 %></td>
                <td><%= product.calorie_content %></td>
                <td><%= product.proteins %></td>
                <td><%= product.fats %></td>
                <td><%= product.carbohydrates %></td>
                <td> 
                  <% if current_user.blocked_products.ids.include?(product.id) %>
                    <%= link_to 'Разблокировать', unblock_product_path(product_id: product.id), method: :post, class: 'btn btn-outline-success' %>
                  <% else %>
                    <%= link_to 'Заблокировать', block_product_path(product_id: product.id), method: :post, class: 'btn btn-outline-danger' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @products %>
      </div>
		</div>
	</div>
</section>