<section class="py-5">
  <div class="container px-5">
    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
      <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-box-arrow-in-right"></i></div>
        <h1 class="fw-bolder">Добавление нового продукта</h1>
        <p class="lead fw-normal text-muted mb-0">Опишите продукт</p>
      </div>
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <%= form_with model: @product, id: "contactForm" do |f| %>
            <div class="form-floating mb-3">
              <%= f.text_field :name, class: "form-control", placeholder: "Наименование" %>
              <label for="name">Наименование</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.number_field :calorie_content, class: "form-control", placeholder: "Калорийность на 100 грамм" %>
              <label for="calorie_content">Калорийность на 100 грамм</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.number_field :proteins, class: "form-control", placeholder: "Белки" %>
              <label for="proteins">Белки</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.number_field :fats, class: "form-control", placeholder: "Жиры" %>
              <label for="fats">Жиры</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.number_field :carbohydrates, class: "form-control", placeholder: "Углеводы" %>
              <label for="carbohydrates">Углеводы</label>
            </div>
            <div class="form-floating mb-3">
              <%= f.file_field :image %>
            </div>
            <div class="d-grid">
              <%= f.submit class: "btn btn-primary btn-lg", value: "Добавить блюдо" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>